# Site
name: "Mehul Makwana"
title: "Mehul Makwana"
description: "Full Stack Developer coding in JavaScript, .NET, Azure. Welcome!"
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl: 'http://www.mehul9595.com'
google_analytics: ''
disqus: 'demowebsite'
mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  mehul:
    name: Mehul Makwana
    display_name: Mehul
    gravatar: c207eac3e33ad8cee5fd6bd6665f988b
    email: mehul9595@gmail.com
    web: http://www.mehul9595.com
    twitter: https://twitter.com/mehul9595
    description: "A Full Stack Developer code in React, Node.js, C# .NET, .NET Core, and Azure Certified Developer Associate."

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
